<div class="superheroes_operations">
  <form [formGroup]="searchForm">
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input type="text" matInput color="accent" formControlName="term" />
    </mat-form-field>
  </form>

  <button
    mat-flat-button
    color="primary"
    class="button_add"
    (click)="handleCreate()"
  >
    <mat-icon>add</mat-icon>
    Añadir superhéroe
  </button>
</div>

@if(superheroes.length) {
<div class="superheroes_list">
  @for (superhero of superheroes.slice(pageIndex * pageSize, (pageIndex + 1) *
  pageSize); track $index) {
  <a [routerLink]="superhero._id">
    <mat-card>
      <mat-card-content class="superhero">
        <img
          [src]="superhero.image"
          [alt]="superhero.name"
          class="superhero_img"
        />
        <div class="superhero_buttons">
          <button
            mat-flat-button
            class="edit_button"
            color="accent"
            (click)="
              $event.preventDefault();
              $event.stopPropagation();
              handleEdit(superhero)
            "
            matTooltip="Editar"
            matTooltipPosition="above"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-flat-button
            class="delete_button"
            color="accent"
            matTooltip="Eliminar"
            matTooltipPosition="above"
            (click)="
              $event.preventDefault();
              $event.stopPropagation();
              handleDelete(superhero)
            "
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="superhero_text">
          <strong>{{ superhero.alias }}</strong>
          @for (superpower of superhero.superpowers; track $index) {
          <mat-chip>
            {{ superpower }}
          </mat-chip>
          }
          <p>Nombre: {{ superhero.name }}</p>
          <p>Edad: {{ superhero.age }} años</p>
          <p>Altura: {{ superhero.height }}cm.</p>
          <p>Peso: {{ superhero.weight }} kilos</p>
        </div>
      </mat-card-content>
    </mat-card>
  </a>
  }
</div>
<mat-paginator
  #paginator
  showFirstLastButtons
  [length]="superheroes.length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSize]="8"
  [hidePageSize]="true"
  aria-label="Select page"
  (page)="handlePageEvent($event)"
></mat-paginator>
} @else {
<p class="no-results">
  No se encontraron resultados con los términos de búsqueda ingresados.
</p>
}
